{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <p class="f6 b helvetica tracked">
          {{ humanize .Section | upper  }}
        </p>
        <h1 class="f1">
          {{ .Title }}
        </h1>
      </header>
      {{ $cpadding := $.Param "page_padding" | default ($.Param "default_padding") }}  
      {{ $cscale := $.Param "page_scale" | default ($.Param "default_scale") | default "f4" }}  
      {{ $calign := $.Param "page_align" | default ($.Param "default_align") }}  
      {{ $ccolor := $.Param "page_color" | default ($.Param "default_color") | default "mid-gray" }}
      <div class="nested-copy-line-height lh-copy {{ $cpadding }} {{ $cscale }} {{ $calign }} nested-links nested-img {{ $ccolor }}">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
