{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-img">
    {{ $cpadding := $.Param "list_padding" | default ($.Param "default_padding") | default "ph3 ph5-l pv3 pv4-l" }}  
    {{ $cscale := $.Param "list_scale" | default ($.Param "default_scale") | default "f4" }}  
    {{ $calign := $.Param "list_align" | default ($.Param "default_align") | default "tc-l" }}  
    {{ $ccolor := $.Param "list_color" | default ($.Param "default_color") | default "mid-gray" }}
    <section class="cf {{ $cpadding }} {{ $cscale }} {{ $calign }} center measure-wide lh-copy {{ $ccolor }}">
      {{- .Content -}}
    </section>
    <section class="flex-ns flex-wrap justify-around mt5">
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-30-l mb4 bg-white">
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
