{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
{{ $currentPageUrl := .URL }}
{{ $currentSection := (where .Site.Pages "Section" .Section)  }}

<div class="flex flex-wrap">
  <aside class="w-2f0 bg-light-gray">
    <ul>
      <li class="list b mb3">
        More {{ .Section }}
      </li>
      {{ range  $currentSection }}
      <li class="list f5 w-100 hover-bg-white nl1">
        <a href="{{ .URL }}" class="link black ph2 pv2 db">
            {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>
  </aside>

  <article class="center cf pv5 measure-wide-l">

    <h4 class="f6">
      {{ humanize .Section | upper  }}
    </h4>
    <h1>
      {{ .Title }}
    </h1>
    <div class="nested-copy-line-height f4 nested-linkfs nested-img mid-gray measure-wide-l">
        {{ .Content  }}
    </div>
  </article>
</div>

357edd
<style media="screen">
  p a {
    color: #2F6FC4;

          /*#357edd*/
  }
</style>

{{ end }}
