{{ define "main" }}
    {{ $data := .Data }}
  <article class="cf pa3 pa4-m pa4-l">
    {{ $cpadding := $.Param "terms_padding" | default ($.Param "default_padding") }}  
    {{ $cscale := $.Param "terms_scale" | default ($.Param "default_scale") | default "f4" }}  
    {{ $calign := $.Param "terms_align" | default ($.Param "default_align") }}  
    {{ $ccolor := $.Param "terms_color" | default ($.Param "default_color") | default "mid-gray" }}
    <div class="measure-wide-l center {{ $cpadding }} {{ $cscale }} {{ $calign }} lh-copy nested-copy-line-height nested-links nested-img {{ $ccolor }}">
      {{ .Content }}
    </div>
  </article>
  <div class="mw8 center">
    <section class="ph4">
      {{ range $key, $value := .Data.Terms }}
        <h2 class="f1">
          <a href="{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}" class="link blue hover-black">
            {{ $.Data.Singular | humanize }}: {{ $key }}
          </a>
        </h2>
        {{ range $value.Pages }}
          {{ partial "summary.html" . }}
        {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
