{{ $services := slice }}


{{ $legacy_api_services := slice "facebook" "twitter" "instagram" "youtube" "github" "gitlab" "keybase" "linkedin" "medium" "mastodon" "slack" "stackoverflow" "rss" }}
{{ $user_using_legacy := false }}
{{ range $service := $legacy_api_services }}
  {{ with index site.Params . }}
    {{ $user_using_legacy = true }}
    {{ $services = $services | append (dict "name" $service "url" .) }}
  {{ end }}
{{ end }}

{{ with site.Params.ananke_socials }}
  {{ range $service := . }}
    {{ with .name }}
      {{ $services = $services | append $service }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $services }}