{{/*

*/}}
{{ $socials := slice }}
{{ with partial "func/socials/GetProjectServices" "GetProjectServices" }}
  {{ range . }}
    {{ $service := . }}
    {{ with partialCached "func/socials/GetServiceData" .name .name }}
      {{ $service = merge . $service }}
    {{ end }}
    {{ with partialCached "func/socials/GetServiceIcon" .name .name }}
      {{ $service = $service | merge (dict "icon" . ) }}
    {{ end }}
    {{ $socials = $socials | append $service }}
  {{ end }}
{{ end }}

{{ return $socials }}