<nav class="pv3 ph3" role="navigation">
  <div class="flex-ns justify-between items-center">

    <a href="/" class="f3 fw8 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
    {{ if .Site.Menus.main }}
      <ul class="pl0 mr3">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib pr3">
          <a class="hover-white no-underline white-70" href="{{ .URL }}" >
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

  </div>
</nav>
