{{ $featured_image := .Params.featured_image }}
<article class={{ .Site.Params.summary_article_class  | default "bb b--black-10" }}>
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
        {{ $featured_image := (trim $featured_image "/") | absURL }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <div class="pv3-ns">
            <a href="{{.URL}}" class="db grow">
              <img src="{{ $featured_image }}" class="img" alt="image from {{ .Title }}">
            </a>
            <div class="tc">
            {{ partial "social-follow.html" . }}
            </div>
          </div>
        </div>
      {{ end }}
      <div class="blah w-100{{ if .Params.featured_image }} w-60-ns pl3-ns{{ end }}">
        <h1 class="f3 fw1 mv0 lh-title tc" style="font-family: 'Krub', sans-serif; letter-spacing: 0.1em">
          <a href="{{.URL}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="tc">
        {{ partial "date.html" . }}
        </div>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
        <div class="tc pv3">
          <a href="{{.URL}}" class={{ .Site.Params.read_more_class  | default "color-inherit dim link f5" }}>{{$.Param "read_more_copy" | default "read more" }}</a>


        </div>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p>
        */}}
      </div>
    </div>
  </div>
</article>
