{{ define "main" }}

  <main class="cf ph3 ph5-l pv3 pv4-l f4 tc center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </main>


  <div class="flex pa3 pa4-ns w-70 center">
    {{ $section := where .Data.Pages "Section" "article" }}

    <section class="w-60 bg-white">
      {{ range sort (first 1 $section) "Date" "desc"  }}
        <h1>{{ .Title }}</h1>
      {{ end }}
    </section>

    <section class="w-30 ph4">
      {{ range sort (first 2 (after 1 $section)) "Date" "desc"  }}
        <h2 class="f4">{{ .Title }}</h2>
        {{ end }}
    </section>


    </div>




{{ end }}
