{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <p>{{ lang.Translate "taxonomyPageList" . }}</p>
    </div>
  </article>
  <div class="mw8 center">
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range  .Pages }}
        <div class="w-100 mb4 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
