.facebook, .twitter, .instagram, .youtube, .github, .linkedin {
  fill: #BABABA;
}
.facebook:hover {
  fill: #3b5998;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  fill: #e1306c;
}

.youtube:hover {
  fill: #cd201f;
}

.github:hover {
  fill: #6cc644;
}

.linkedin:hover {
  fill: #0077b5
}
