/*! TACHYONS v4.7.0 | http://tachyons.io */

/*
 *
 *      ________            ______
 *      ___  __/_____ _________  /______  ______________________
 *      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
 *      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
 *      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
 *                                 /____/
 *
 *    TABLE OF CONTENTS
 *
 *    1. External Library Includes
 *       - Normalize.css | http://normalize.css.github.io
 *    2. Tachyons Modules
 *    3. Variables
 *       - Media Queries
 *       - Colors
 *    4. Debugging
 *       - Debug all
 *       - Debug children
 *
 */


/* External Library Includes */
@import 'tachyons/_normalize';


/* Modules */
@import 'tachyons/_box-sizing';
@import 'tachyons/_aspect-ratios';
@import 'tachyons/_images';
@import 'tachyons/_background-size';
@import 'tachyons/_background-position';
@import 'tachyons/_outlines';
@import 'tachyons/_borders';
@import 'tachyons/_border-colors';
@import 'tachyons/_border-radius';
@import 'tachyons/_border-style';
@import 'tachyons/_border-widths';
@import 'tachyons/_box-shadow';
@import 'tachyons/_code';
@import 'tachyons/_coordinates';
@import 'tachyons/_clears';
@import 'tachyons/_display';
@import 'tachyons/_flexbox';
@import 'tachyons/_floats';
@import 'tachyons/_font-family';
@import 'tachyons/_font-style';
@import 'tachyons/_font-weight';
@import 'tachyons/_forms';
@import 'tachyons/_heights';
@import 'tachyons/_letter-spacing';
@import 'tachyons/_line-height';
@import 'tachyons/_links';
@import 'tachyons/_lists';
@import 'tachyons/_max-widths';
@import 'tachyons/_widths';
@import 'tachyons/_overflow';
@import 'tachyons/_position';
@import 'tachyons/_opacity';
@import 'tachyons/_rotations';
@import 'tachyons/_skins';
@import 'tachyons/_skins-pseudo';
@import 'tachyons/_spacing';
@import 'tachyons/_negative-margins';
@import 'tachyons/_tables';
@import 'tachyons/_text-decoration';
@import 'tachyons/_text-align';
@import 'tachyons/_text-transform';
@import 'tachyons/_type-scale';
@import 'tachyons/_typography';
@import 'tachyons/_utilities';
@import 'tachyons/_visibility';
@import 'tachyons/_white-space';
@import 'tachyons/_vertical-align';
@import 'tachyons/_hovers';
@import 'tachyons/_z-index';
@import 'tachyons/_nested';
@import 'tachyons/_styles';

/* Variables */
/* Importing here will allow you to override any variables in the modules */
@import 'tachyons/_colors';
@import 'tachyons/_media-queries';

/* Debugging */
/*@import 'tachyons/_debug-children';
@import 'tachyons/_debug-grid';*/

/* Uncomment out the line below to help debug layout issues */
/* @import 'tachyons/_debug'; */
