#sharing .social-link {
  border-radius: 15px;
  color: white;
  fill: currentColor;
}

.socials a{
  display: inline-block;
  vertical-align: middle;
  color: #BABABA;
  fill: currentColor;
}
.socials a .icon svg{
  width: 32px;
  height: 32px;
  vertical-align: bottom;
}
/* .socials a:hover {
  color: rgb(107, 114, 128);
} */
.share-buttons {
  position: sticky;
  width: 50px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.share-btn {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  transition: background-color 0.3s;
}
.share-btn:hover {
  background-color: #555;
}
.facebook-share { background-color: #3b5998; }
.pinterest-share { background-color: #bd081c; }
.x-share { background-color: #000000; }
.new-window {
  opacity: 0;
  display: inline-block;
  vertical-align: top;
}
.link-transition:hover .new-window{
  opacity: 1;
}
