/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.menu-btn {
  display: none; 
  color: white;
  font-size: 2em;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
    flex-direction: column;
  }
  .menu-btn {
    display: block;
  }
}
