.jump-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white !important;
    background-color: #ff6347; /* Tomato color */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.jump-button:hover {
    background-color: #ff4500; /* Darker tomato color */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.jump-button:active {
    background-color: #e03d0b; /* Even darker tomato color */
}

.jump-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.5);
}


.share-buttons {
    position: sticky;
    width: 50px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.share-btn {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    transition: background-color 0.3s;
}

.share-btn:hover {
    background-color: #555;
}

.facebook-share { background-color: #3b5998; }
.pinterest-share { background-color: #bd081c; }
.x-share { background-color: #000000; }