#jump-button {
    color: white;
}

#site_logo {
    width: 100px;
    height: 95px;
    /* position: fixed */
}

/* color pallette */
/* :root {
    --primary-color: #63aa7b;
    --secondary-color: #24583a;
    --accent-color: #599b9c;
    --accent-color-2: #645c84;
    --background-color: #F3F7F4;
    --text-color: #bd0505;
} */

/* body, main {
    background-color: var(--text-color) !important;
    color: var(--text-color) !important;
} */
